.bg_black {
  background-color: var(--background_dark);
}
.navBar_shadowBox {
  -webkit-box-shadow: 0px 8px 20px -14px #000000;
  box-shadow: 0px 8px 20px -14px #000000;
}
.navHome {
  width: 100%;
}
.navHome > li {
  padding: 15px;
}
.navHome :global(.ant-dropdown-trigger) {
  font-size: 1.5rem !important;
  font-weight: 600;
}
.navBar_search :global(.ant-btn-primary) {
  border-color: var(--primary_color) !important;
  background: var(--primary_color) !important;
}
.navHome > button {
  color: var(--primary_color);
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 16px;
  border: none;
  border-radius: 0;
  line-height: 2;
}
.navHome > button:hover {
  background-color: var(--primary_color);
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}
.navHome > li > a {
  color: var(--primary_color);
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}
.navHome > li:hover {
  background-color: var(--primary_color);
}
.navHome > li:hover > a {
  color: white;
}
.navBar_search {
  display: flex;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .navBar_search {
    margin-left: 0;
  }
}
@media only screen and (max-width: 576px) {
  .navBar_search {
    margin-left: 0;
  }
}
.navBar_link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.navBar_link li {
  padding: 20px;
}
.navBar_link li a {
  font-size: 1.5rem;
  font-weight: 600;
  color: grey !important;
  white-space: nowrap;
}

.navBar_link li:hover a {
  color: var(--primary_color) !important;
}
.navBar_link li:hover a:hover {
  color: var(--primary_color) !important;
}
.quanTri_li {
  background-color: var(--primary_color);
  transition: all 0.5s;
}
.quanTri_li:hover {
  background-color: white !important;
}
.quanTri_li > a {
  color: white !important;
}
.quanTri_li:hover > a {
  color: var(--primary_color) !important;
}
