body .multiple-row .slick-dots {
    display: none !important;
}

body .multiple-row .slick-dots li.slick-active button {
        border: 2px solid var(--primary_color) !important;
}

.multiple-row .slick-prev:before, .multiple-row .slick-next:before {
    color: rgb(197, 185, 185);
    font-size: 30px;
}

@media screen and (max-width: 1500px) {
    .multiple-row .slick-next {
        right: 0;
        z-index: 1;
    }

    .multiple-row .slick-prev {
        left: 0;
        z-index: 1;
    }
}