.textPrimary {
    color: var(--primary_color);
}

::global(.swal2-title) {
    font-size: 24px !important;
}

.swal2-popup {
    font-size: 1.5rem !important;
}

.swal2-confirm {
    background-color: var(--primary_color) !important;
    outline: none !important;
    box-shadow: none !important;
}